<section class="subscribe">
    <div class="subscribe-container container">
      <div class="subscribe-wrap">
        <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
        <p class="subscribe-text">Order now and receive 10% off your first meal with Enjoy Your Favorite Food From Anywhere. </p>
        <form class="subscribe-form">
          <label class="subscribe-label">
            <input class="subscribe-input" 
            type="email" 
            name="email" 
            placeholder="Enter your email" />
            <div class="subscribe-frame">
            <svg class="subscribe-frame-icon" width="12" height="12">
              <use href="./img/frame.svg#icon-frame"></use>
            </svg>                
            Not a valid email address (example@email.com)
            </div>
          </label>
          <button class="subscribe-button" type="submit">Subscribe</button>          
        </form>
      </div>
      <picture>
        <source media="(min-width: 1280px)" srcset="./img/banan.png 1x, ./images/banan@2x.png 2x" />
        <source media="(min-width: 768px)" srcset="./img/banan_tab@1x.png 1x, ./images/banan_tab@2x.png 2x" />
        <source media="(max-width: 767px)" srcset="./img/banan_mob@1x.png 1x, ./images/banan_mob@2x.png 2x" />
        <img src="./img/banan.png" alt="Banana" width="608" height="266">
      </picture>
    </div>
  </section>