body {
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c;
  background-color: #fefefe;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}
.button {
  border-radius: 30px;
  background: var(--Button-green, #bbf330);
  min-width: 98px;
  height: 32px;
  cursor: pointer;
  border: none;
  color: var(--Black, #2c2c2c);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}
