.hero-section {
    background-color: var(--White, #FEFEFE);
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 69px;
} 

.hero-div {
    width: 511px;
    margin: auto 0;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2; 
    margin-bottom: 28px;
}

.hero-text {
    line-height: 1.5;
    margin-bottom: 40px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #FFE450;
}

.hero-btn {
    display: block;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 42px;

    color: inherit;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.95;
}
.hero-img-div:hover {
    border-color: #BBF330;
}

.hero-img-div {
    width: 580px;
    height: 580px;
    border-radius: 580px;
    border: 26px solid var(--Yellow-main, #FFE550);
    background-color: transparent;
    
    margin-right: 14px;
}